.field {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:"heading heading" 
                        "red green"
                         "blue yellow";    
                         align-items: center;
                         justify-items: center;

}
.player--red {
    grid-area: red;
    background-color: red;
}
.player--green {
    grid-area: green;
    background-color: green;
}
.player--blue {
    grid-area: blue;
    background-color: blue;
}
.player--yellow {
    grid-area: yellow;
    background-color: yellow;
}
.heading {
    grid-area: heading;
    text-align: center;
    margin: 0;
    font-size: 13px;
}